.main {
  background-color: rgba(150,150,150, .6);
  margin-left: 18%;
  width: 79%;
  height: 80%;
}

#intro {
  padding-top: 11%;
  padding-bottom: 16%;
}

#home {
  background-color: rgba(255,255,255,1);
}

#homeText {
  color: rgba(0,0,0,1);
}

#homeIcon {
  color: rgba(0,0,0,1);
}

div {
  width: 79%;
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.inner {
  text-align: center;
}

#inner {
  padding-top: 13%;
  padding-bottom: 18%;
}

#description {
  text-align: center;
  font-size: 150%;
}

#name {
  font-size: 650%;
  display: flex;
  justify-content: center;
  text-items: center;
  margin-bottom: 0px;
}

#programmer {
  text-align: center;
  margin: 0px;
  font-size: 200%;
}

#psuLogo {
  width: 15%;
  height: 40%;
  margin-left: 41%;
}
